div {
  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aa5b3f;
}

h1 {
  font-size: 300%;
  font-family: Verdana, sans-serif;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}
